.MenuButton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border: 2px solid lightblue;
	border-radius: 10px;
	margin: 5px;
	font-family: "Lora", serif;
	font-weight: 500;
	padding: 2px;
}

.MenuButton img {
	width: 45px;
	height: 45px;
	margin: 0;
	padding: 0;
}

.MenuButton span,
.MenuButton:link {
	color: black;
	text-decoration: none;
	text-indent: none;
	text-transform: none;
	text-align: center;
	white-space: nowrap;
	font-size: calc(85%);
}

.MenuButton > img {
	transform: scale(0.8);
	transition: all 0.2s ease-in-out;
}

.MenuButton:hover > img {
	transform: scale(1);
}
